n8n/demo-data/workflows/LinkedIn Job Search - 1H (Sweden).json
{
  "name": "LinkedIn Job Search - 1H (Sweden)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1104,
        -80
      ],
      "id": "b1511afb-6777-4209-9a75-904905a2e1e4",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "JobTitle",
              "cssSelector": "div.base-card",
              "returnArray": true
            },
            {
              "key": "Company",
              "cssSelector": "div.base-card .base-search-card__subtitle a",
              "returnArray": true
            },
            {
              "key": "Location",
              "cssSelector": "div.base-card .job-search-card__location",
              "returnArray": true
            },
            {
              "key": "Published",
              "cssSelector": "=div.base-card time",
              "returnArray": true
            },
            {
              "key": "Link",
              "cssSelector": "div.base-card a.base-card__full-link",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {
          "trimValues": true,
          "cleanUpText": false
        }
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -656,
        -272
      ],
      "id": "da47fe08-fe9b-4523-81c5-56d730ea3e04",
      "name": "HTML"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e3c48711-9ccf-4280-836e-85d75d0bb519",
              "leftValue": "={{ $json[\"Job Title\"].trim().toLowerCase() }}",
              "rightValue": "data",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "c5e3bcd7-199a-43ac-9b05-4488c26cad06",
              "leftValue": "={{ $json[\"Job Title\"].trim().toLowerCase() }}",
              "rightValue": "analyst",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "299b376e-c7b9-4048-a58b-849b5a6a743a",
              "leftValue": "={{ $json[\"Job Title\"].trim().toLowerCase() }}",
              "rightValue": "analytic",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "d1b96245-d843-43f0-b36f-d65712e90697",
              "leftValue": "={{ $json[\"Job Title\"].trim().toLowerCase() }}",
              "rightValue": "intelligence",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "d96bdfd3-b24b-4b1c-8061-b2657b8a54a7",
              "leftValue": "={{ $json[\"Job Title\"].trim().toLowerCase() }}",
              "rightValue": "tableau",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "9bbd08e9-9f93-4983-9851-e05640c9226b",
              "leftValue": "={{ $json[\"Job Title\"].trim().toLowerCase() }}",
              "rightValue": "power",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "8ca1b134-ab5b-48a4-b2b4-3945aa5c7218",
              "leftValue": "={{ $json[\"Job Title\"].trim().toLowerCase() }}",
              "rightValue": "sql",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "628fe557-2faf-45c8-b5c7-57fd92a6a03b",
              "leftValue": "={{ $json[\"Job Title\"].trim().toLowerCase() }}",
              "rightValue": "intern",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "fbec14a8-eb7a-41ec-aa1f-b15eaf8d4032",
              "leftValue": "={{ $json[\"Job Title\"].trim().toLowerCase() }}",
              "rightValue": "junior",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "57667622-8197-4b36-b1ca-4ee1c3658273",
              "leftValue": "={{ $json[\"Job Title\"].trim().toLowerCase() }}",
              "rightValue": "trainee",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -224,
        -272
      ],
      "id": "7fd20487-1d14-4717-a973-f4c6ab029df9",
      "name": "Filter1"
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "Job Title",
              "field2": "Job Title"
            },
            {
              "field1": "Company",
              "field2": "Company"
            },
            {
              "field1": "Location",
              "field2": "Location"
            }
          ]
        },
        "resolve": "preferInput2",
        "options": {
          "skipFields": "Published, Link"
        }
      },
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        144,
        -192
      ],
      "id": "09efdfcb-1667-4be9-b88f-4e06b51dba6a",
      "name": "Compare Datasets"
    },
    {
      "parameters": {
        "fileSelector": "/data/shared/last_1_hour_sweden.xls",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -560,
        64
      ],
      "id": "cabb2098-dc0c-404b-b222-9693a5f0647b",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "fromEmail": "dthusara123@gmail.com",
        "toEmail": "nuwankyazh@gmail.com",
        "subject": "=LinkedIn -  {{ $json.key }} JOBS",
        "emailFormat": "text",
        "text": "={{ $json.value }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        736,
        -304
      ],
      "id": "9ef1a473-27b0-4574-8784-a4f7000358b6",
      "name": "Send email",
      "webhookId": "6151b03a-5c0e-4c28-af92-9bd16e36f3a8",
      "credentials": {
        "smtp": {
          "id": "wNBitTm4o46kfZoq",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.linkedin.com/jobs/search?location=Sweden&f_TPR=r3600",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -816,
        -272
      ],
      "id": "14811533-01b6-4b61-a48a-582ae68e90f2",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const job = $json.JobTitle;\nconst company = $json.Company;\nconst location = $json.Location;\nconst published = $json.Published;\nconst link = $json.Link;\n\n// Combine into single array of objects\nconst combined = job.map((jobItem, index) => {\n  return {\n    'Job Title': jobItem,\n    'Company': company[index],\n    'Location': location[index],\n    'Published': published[index],\n    'Link': link[index]\n  };\n});\n\nreturn combined.map(item => ({ json: item }));\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        -272
      ],
      "id": "f68801e7-0861-41e1-b815-5aa77fc1d494",
      "name": "Code in JavaScript",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput",
      "notes": "Error in Java Script Function"
    },
    {
      "parameters": {
        "operation": "xls",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -272,
        64
      ],
      "id": "17b641e5-2741-4d19-bf69-a63c832f73b3",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "xls",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        752,
        -64
      ],
      "id": "67134619-c07f-460c-8ce5-32a27b05148b",
      "name": "Convert to File"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        512,
        -64
      ],
      "id": "1f3c1ec4-08be-4d95-b90a-48351397cbe8",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/data/shared/last_1_hour_sweden.xls",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        992,
        -64
      ],
      "id": "f4928bd9-5f23-46c7-9b2f-44e27f395e31",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nlet output = \"\";\n\nitems.forEach((item, index) => {\n  output += `JOB ${index + 1}:\\n`;\n  output += `Job Title: ${item.json[\"Job Title\"]}\\n`;\n  output += `Company: ${item.json.Company}\\n`;\n  output += `Location: ${item.json.Location}\\n`;\n  output += `Date: ${item.json.Published}\\n`;\n  output += `Link: ${item.json.Link}\\n\\n\\n`;\n});\n\nreturn [{\n  json: {\n    key: items.length.toString(),   // total number of jobs as string\n    value: output.trim()            // formatted job details\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        -304
      ],
      "id": "e9b3557c-a9ac-44d4-a461-e95cbf2e35ae",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "fromEmail": "dthusara123@gmail.com",
        "toEmail": "nuwankyazh@gmail.com",
        "subject": "=ERROR - Splitting Data",
        "emailFormat": "text",
        "text": "Check Java Script Code after extracting HTML parser",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -224,
        -112
      ],
      "id": "a97c41f7-3e6d-4980-b0cf-c155abfe0b72",
      "name": "Send email1",
      "webhookId": "4e0e016a-99d5-408a-a488-bbbe7cab9b24",
      "credentials": {
        "smtp": {
          "id": "wNBitTm4o46kfZoq",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Send a email if there is a new Data job published on LinkedIn \n## Location = Sweden \n## Time Published <= 1h",
        "height": 176,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1264,
        -672
      ],
      "typeVersion": 1,
      "id": "4f4bc4f0-bc94-40b1-819a-4f1d5c3d962d",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Datasets": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [],
        []
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email": {
      "main": [
        []
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ec5f2bcd-bb84-4190-95b7-290612ae0895",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "17i0yLJtVV4X3FfT",
  "tags": []
}